.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
	padding: 5px 0; 
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -110px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}